@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: 'Poppins', Helvetica;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    max-width: 100%;
}